

body {
    font-family: "Sofia", sans-serif;
    font-weight: 600;

    background-image: url("assets/bg.png");
    animation-duration: 32s;
    animation-name: animateBackground;
    animation-timing-function: linear;

    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes animateBackground {
    from {
        background-position-x: 189px;
        background-position-y: 199px;
    }
    to {
        background-position-x: 970px;
        background-position-y: 600px;
    }
}

#courseInfo {
    padding-top: 8px;
    max-width: fit-content;
    max-height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#courseIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 384px;
    width: 60%;
    float: none;
    filter: drop-shadow(0 0 0.35rem rgba(0, 0, 0, 0.8));
}

.infoCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: none;
}

#playerName, #playerTime {
    display: inline;
    text-align: left;
}

.inputLabel {
    display: inline;
}

.courseProof {
    max-height: 128px;
}

#records {
    max-width: fit-content;
    max-height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#courseSelect {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;

    font-family: "Sofia", sans-serif;
    font-weight: 400;
    text-align: center;
}